$theme_color: #a5d7ef;
$font_color: #505050;

$button_color_1: #a5e6ef;
$button_color_1_hover: #aaf7ee;
$button_color_2: #43bfff;
$button_color_2_hover: #7cd2ff;
$button_color_3: #ffba00;
$button_color_3_hover: #ffcf4c;

$checkbox_color_1: #a5d7ef;
$checkbox_color_1_after: #A5EFE6;